<nav>
    <ul class="membershipApp-pagination">
        <li data-ng-show="links['first']" data-ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
        <li data-ng-show="links['prev']" data-ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
        <li data-ng-show="page > 2" data-ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
        <li data-ng-show="page > 1" data-ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
        <li class="active"><a>{{page}}</a></li>
        <li data-ng-show="page < links['last']" data-ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
        <li data-ng-show="page < links['last'] - 1" data-ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
        <li data-ng-show="links['next']" data-ng-click="loadPage(links['next'])"><a>&gt;</a></li>
        <li data-ng-show="links['last']" data-ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
    </ul>
</nav>
