<div>

    <h2 translate="membershipApp.adhesion.home.title">Adhesion</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveAdhesionModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="membershipApp.adhesion.home.createLabel">Create a new Adhesion</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveAdhesionModal" tabindex="-1" role="dialog" aria-labelledby="myAdhesionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAdhesionLabel" translate="membershipApp.adhesion.home.createOrEditLabel">Create or edit a Adhesion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="adhesion.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="membershipApp.adhesion.typeAdhesion">TypeAdhesion</label>
                            <input type="text" class="form-control" name="typeAdhesion"
                                   ng-model="adhesion.typeAdhesion" required>

                            <div ng-show="editForm.typeAdhesion.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.typeAdhesion.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adhesion.dateAdhesion">DateAdhesion</label>
                            <input type="date" class="form-control" name="dateAdhesion"
                                   ng-model="adhesion.dateAdhesion">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAdhesionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(adhesion.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="membershipApp.adhesion.delete.question" translate-values="{id: '{{adhesion.id}}'}">Are you sure you want to delete this Adhesion?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="membershipApp.adhesion.typeAdhesion">TypeAdhesion</th>
                    <th translate="membershipApp.adhesion.dateAdhesion">DateAdhesion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adhesion in adhesions">
                    <td><a ui-sref="adhesionDetail({id:adhesion.id})">{{adhesion.id}}</a></td>
                    <td>{{adhesion.typeAdhesion}}</td>
                    <td>{{adhesion.dateAdhesion}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adhesionDetail({id:adhesion.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(adhesion.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(adhesion.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
