# Disable the spring security default configuration from spring-boot-actuator
management.security.enabled: true
security.basic.enabled: false

# Disable Jolokia - An http/json bridge for remote JMX access
endpoints.jolokia.enabled: false

# security configuration (this key should be unique for your application, and kept secret)
jhipster.security.rememberme.key: 0967e4154fe22d114184fba3e9e1691c79045949

# service timeout configured to 4 hours.
server:
    connection-timeout: -1
    session:
        timeout: 240

async:
    corePoolSize: 2
    maxPoolSize: 50
    queueCapacity: 10000

mail:
    host: localhost
    port: 25
    username:
    password:
    protocol: smtp
    tls: false
    auth: false
    from: membership@localhost


swagger:
    title: membership API
    description: membership applications and beyond!
    termsOfServiceUrl: http://jhipster.github.io/
    contact:
    license: Apache 2.0
    licenseUrl: http://www.apache.org/licenses/LICENSE-2.0.html

survey: https://docs.google.com/forms/d/1W2ZiV0TbJlfZ_WCQkGnGQPy-RX8nGsVLrhpIQvDEDGA/viewform


metrics:
    jmx.enabled: true
    spark:
        enabled: false
        host: localhost
        port: 9999
    graphite:
        enabled: false
        host: localhost
        port: 2003
        prefix: membership
