<div>

    <h2 translate="membershipApp.adherent.home.title">Adherent</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveAdherentModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="membershipApp.adherent.home.createLabel">Create a new Adherent</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveAdherentModal" tabindex="-1" role="dialog" aria-labelledby="myAdherentLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAdherentLabel" translate="membershipApp.adherent.home.createOrEditLabel">Create or edit a Adherent</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group required">
                            <label class="control-label col-sm-2" translate="membershipApp.adherent.prenom">Prenom</label>
                            <div class="col-sm-4">
                            	<input type="text" class="form-control" name="prenom" ng-model="adherent.prenom" required>
                            </div>
                            
                            <label class="control-label col-sm-2" translate="membershipApp.adherent.nom">Nom</label>
                            <div class="col-sm-4">
	                            <input type="text" class="form-control" name="nom" ng-model="adherent.nom" required>
	                        </div>
                        </div>
                        
                        <div class="form-group">
                        	<div class="col-sm-offset-2 col-sm-10">
		                        <div class="checkbox">
		                            <label>
		                            	<input type="checkbox" name="benevole" ng-model="adherent.benevole">
		                            	Bénévole
		                            </label>
		                        </div>
                        	</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" translate="membershipApp.adherent.remarqueBenevolat">RemarqueBenevolat</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="remarqueBenevolat" ng-model="adherent.remarqueBenevolat">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" translate="membershipApp.adherent.genre">Genre</label>
                            <div class="col-sm-10">
	                            <select class="form-control" name="genre" ng-model="adherent.genre">
	                            	<option value="H">Homme</option>
	                            	<option value="F">Femme</option>
	                            	<option value="Autre">Autre</option>
								</select>
							</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" translate="membershipApp.adherent.autreRemarque">AutreRemarque</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="autreRemarque" ng-model="adherent.autreRemarque">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAdherentConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(adherent.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="membershipApp.adherent.delete.question" translate-values="{id: '{{adherent.id}}'}">Are you sure you want to delete this Adherent?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="membershipApp.adherent.prenom">Prenom</th>
                    <th translate="membershipApp.adherent.nom">Nom</th>
                    <th translate="membershipApp.adherent.benevole">Benevole</th>
                    <th translate="membershipApp.adherent.remarqueBenevolat">RemarqueBenevolat</th>
                    <th translate="membershipApp.adherent.genre">Genre</th>
                    <th translate="membershipApp.adherent.autreRemarque">AutreRemarque</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="adherent in adherents">
                    <td><a ui-sref="adherentDetail({id:adherent.id})">{{adherent.id}}</a></td>
                    <td>{{adherent.prenom}}</td>
                    <td>{{adherent.nom}}</td>
                    <td>{{adherent.benevole}}</td>
                    <td>{{adherent.remarqueBenevolat}}</td>
                    <td>{{adherent.genre}}</td>
                    <td>{{adherent.autreRemarque}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adherentDetail({id:adherent.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(adherent.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(adherent.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
