<div class="sale">

	<div class="modal fade" id="searchAdherentModal" tabindex="-1" role="dialog" aria-labelledby="searchAdherentLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="searchAdherentForm" class="form-horizontal" role="form" novalidate>
					<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="clearSearchAdherent()">&times;</button>
                        <h4 class="modal-title" id="searchAdherentLabel" data-translate="membershipApp.sale.adherent.search">SearchAdherent</h4>
                    </div>
					<div class="modal-body">
						<div class="form-group">
							<label for="searchCriteria" class="control-label col-sm-3">Rechercher</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="searchCriteria" data-ng-model="searchAdherentCriteria" data-ng-change="searchAdherent()" data-ng-model-options='{ debounce: 200 }' placeholder="Rechercher">
							</div>
						</div>
						
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
					                	<th><span data-translate="membershipApp.adherent.prenom">Prénom</span></th>
					                	<th><span data-translate="membershipApp.adherent.nom">Nom</span></th>
					                	<th></th>
					                </tr>
					            </thead>
				                <tbody>
				                	<tr data-ng-repeat="adherent in searchedAdherents">
				                		<td class="statut-{{adherent.statutAdhesion}}">{{adherent.prenom}}</td>
				                		<td class="statut-{{adherent.statutAdhesion}}">{{adherent.nom}}</td>
				                		<td>
				                			<button type="submit" data-ng-click="selectAdherent(adherent)" class="btn btn-primary btn-sm">
				                				<span class="glyphicon glyphicon-ok"></span>&nbsp;<span data-translate="membershipApp.sale.adherent.select"> View</span>
				                			</button>
				                		</td>
				                	</tr>
				                </tbody>
							</table>
						</div>
					</div>
                    <div class="modal-footer"></div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2 data-translate="membershipApp.sale.new.title">Nouvelle vente</h2>
			
			<form class="form-horizontal" data-ng-submit="addItem()">
				<div id="adherent">
					<div class="form-group" data-ng-show="adherent">
						<label class="control-label col-sm-4" data-translate="membershipApp.sale.adherent.label">Adherent</label>
						<span class="form-control-static col-sm-7">{{basket.adherentFullName}}</span>
					</div>
					<button type="button" class="btn col-sm-offset-4" data-ng-click="openAdherentModal()">
						<span class="glyphicon glyphicon-search"></span>&nbsp;<span data-translate="membershipApp.sale.adherent.search">SearchAdherent</span>
					</button>
				</div>
				
				<div id="saleInfos">
					<div class="form-group required">
						<label class="control-label col-sm-4" data-translate="membershipApp.sale.date">DateVente</label>
						<div class="col-sm-7">
							<input type="date" class="form-control" name="saleDate" data-ng-model="basket.date">
						</div>
					</div>
					
					<payment-type label-size="4" model="basket.paymentType" />
				</div>
			
				<div id="selectItem">
					<div class="form-group">
						<label class="control-label col-sm-4" data-translate="membershipApp.sale.item.name">Article</label>
						<div class="col-sm-7">
							<select class="form-control placeholder" data-ng-model="newItem.article" data-ng-options="article as article.name for article in articles | orderBy: article.name">
								<option value="" disabled selected>{{ 'membershipApp.sale.item.choose' | translate }}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-4" data-translate="membershipApp.sale.item.quantity">Quantité</label>
						<div class="col-sm-7">
							<input type="number" min="1" data-ng-model="newItem.quantity" class="form-control">
						</div>
					</div>
					
					<!-- Champ de saisie "Prix libre". Affiché uniquement pour les articles sans prix -->
					<div class="form-group" data-ng-show="newItem.article && !newItem.article.salePrice">
						<label class="control-label col-sm-4" data-translate="membershipApp.sale.item.freePrice">FreePrice</label>
						<div class="col-sm-7">
							<input type="number" min="0" step="any" data-ng-model="newItem.freePrice" class="form-control">
						</div>
					</div>
					
					<button type="submit" class="btn">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="membershipApp.sale.item.add">Ajouter cet article</span>
					</button>
				</div>
			</form>
		</div>
		
		<div class="col-md-4">
			<h3>Panier</h3>
			
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="item in basket.items">
					<div style="display:flex; justify-content: space-between;">
						<small style="margin-right: 0px;">{{item.name}}</small>
						<span style="text-align: right;">
							<span class="glyphicon glyphicon-minus" data-ng-click="basket.decrement(item)"></span>
							<span class="glyphicon glyphicon-plus" data-ng-click="basket.increment(item)"></span>
							<span class="glyphicon glyphicon-remove" data-ng-click="basket.removeItem(item)"></span>
						</span>
					</div>
					<div>P.U. : <b>{{toEuros(item.price)}}&nbsp;€</b></div>
					<div>Qté : <b>{{item.quantity}}</b></div>
				</li>
			</ul>
			
			<h4>Total : {{saleCost()}}&nbsp;€</h4>
			
			<div>
				<button class="btn btn-primary" data-ng-click="saveSale(true)" data-ng-disabled="!canSaveSale()">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="membershipApp.sale.save">Enregistrer cette vente</span>
				</button>
			</div>
			
			<div style="margin-top: 10px;">
				<button class="btn" data-ng-click="saveSale(false)" data-ng-show="!basket.finished" data-ng-disabled="!canSaveSale()">
					<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;<span data-translate="membershipApp.sale.temporary">Sauvegarder</span>
				</button>
			</div>
			
			<div style="margin-top: 10px;">
				<button class="btn btn-danger" data-ng-click="deleteSale()" data-has-role="ROLE_WORKSHOP_MANAGER" data-ng-show="basket.id != null">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;<span data-translate="entity.action.delete"> Delete</span>
				</button>
			</div>
		</div>
	</div>
</div>
