<div>
	
	<h2 data-translate="membershipApp.sales.home.title">Historique des ventes</h2>

	<div class="history-since">
<!-- 		<button type="button" data-ng-click="state.go('lastSales')" class="btn btn-xs"> -->
<!-- 			<span data-translate="membershipApp.sales.lastSales.link">LastSales</span> -->
<!-- 		</button> -->
<!-- 		<button type="button" data-ng-click="state.go('statistics')" class="btn btn-xs"> -->
<!-- 			<span data-translate="membershipApp.sales.statistics.link">Statistics</span> -->
<!-- 		</button> -->
<!-- 		<button type="button" data-ng-click="state.go('bestSales')" class="btn btn-xs"> -->
<!-- 			<span data-translate="membershipApp.sales.bestSales.link">Statistics</span> -->
<!-- 		</button> -->
		
		<a data-ui-sref="lastSales" class="btn btn-xs">
			<span data-translate="membershipApp.sales.lastSales.link">LastSales</span>
		</a>
		<a data-ui-sref="statistics" class="btn btn-xs">
			<span data-translate="membershipApp.sales.statistics.link">Statistics</span>
		</a>
	</div>
	
	<div data-ui-view="sales"></div>

</div>