<div class="form-group">
	<label class="control-label col-sm-{{labelSize}}" data-translate="membershipApp.payment.type.label">PaymentType</label>
	<label class="radio-inline">
		<input type="radio" name="paymentTypeOptions" id="inlineRadio1" value="option1">
		<span data-translate="membershipApp.payment.type.cash"></span>
	</label>
	<label class="radio-inline">
		<input type="radio" name="paymentTypeOptions" id="inlineRadio1" value="option1">
		<span data-translate="membershipApp.payment.type.cheque"></span>
	</label>
	<label class="radio-inline">
		<input type="radio" name="paymentTypeOptions" id="inlineRadio1" value="option1">
		<span data-translate="membershipApp.payment.type.galleco"></span>
	</label>
</div>