<div class="form-group required">
	<label class="control-label col-sm-{{labelSize}}" data-translate="membershipApp.payment.type.label">PaymentType</label>
	<label class="radio-inline">
		<input type="radio" data-ng-model="payment" value="Cash" checked="checked">
		<span data-translate="membershipApp.payment.type.cash"></span>
	</label>
	<label class="radio-inline">
		<input type="radio" data-ng-model="payment" value="Check">
		<span data-translate="membershipApp.payment.type.cheque"></span>
	</label>
	<label class="radio-inline">
		<input type="radio" data-ng-model="payment" value="Galleco">
		<span data-translate="membershipApp.payment.type.galleco"></span>
	</label>
	<label class="radio-inline" data-has-role="ROLE_WORKSHOP_MANAGER" data-ng-hide="waiting">
		<input type="radio" data-ng-model="payment" value="Waiting">
		<span data-translate="membershipApp.payment.type.waiting"></span>
	</label>
</div>