<div>

	<div class="row">
		<h2 data-translate="membershipApp.statistics.home.title">Statistiques de ventes</h2>
		
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th data-translate="membershipApp.statistics.month">Mois</th>
						<th data-translate="membershipApp.statistics.amount">Montant</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="stat in salesAmountByMonth">
						<td>{{stat.month | date:'MMMM yyyy'}}</td>
						<td>{{stat.amount}}&nbsp;€</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div>
			<strong><span data-translate="membershipApp.statistics.total">Total</span>&nbsp;:&nbsp;<span>{{total}}&nbsp;€</span></strong>
		</div>
		
		<button data-ng-click="exportDetails()" class="btn btn-primary" data-translate="membershipApp.statistics.exportDetails">ExportDetails</button>
	</div>

</div>