<div>

    <h2 translate="membershipApp.adresse.home.title">Adresse</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveAdresseModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="membershipApp.adresse.home.createLabel">Create a new Adresse</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveAdresseModal" tabindex="-1" role="dialog" aria-labelledby="myAdresseLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAdresseLabel" translate="membershipApp.adresse.home.createOrEditLabel">Create or edit a Adresse</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="adresse.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="membershipApp.adresse.adresse1">Adresse1</label>
                            <input type="text" class="form-control" name="adresse1"
                                   ng-model="adresse.adresse1">

                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adresse.adresse2">Adresse2</label>
                            <input type="text" class="form-control" name="adresse2"
                                   ng-model="adresse.adresse2">

                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adresse.codePostal">CodePostal</label>
                            <input type="text" class="form-control" name="codePostal"
                                   ng-model="adresse.codePostal">

                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adresse.ville">Ville</label>
                            <input type="text" class="form-control" name="ville"
                                   ng-model="adresse.ville">

                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adresse.email">Email</label>
                            <input type="text" class="form-control" name="email"
                                   ng-model="adresse.email">

                        </div>
                        <div class="form-group">
                            <label translate="membershipApp.adresse.telephone">Telephone</label>
                            <input type="text" class="form-control" name="telephone"
                                   ng-model="adresse.telephone">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAdresseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(adresse.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="membershipApp.adresse.delete.question" translate-values="{id: '{{adresse.id}}'}">Are you sure you want to delete this Adresse?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="membershipApp.adresse.adresse1">Adresse1</th>
                    <th translate="membershipApp.adresse.adresse2">Adresse2</th>
                    <th translate="membershipApp.adresse.codePostal">CodePostal</th>
                    <th translate="membershipApp.adresse.ville">Ville</th>
                    <th translate="membershipApp.adresse.email">Email</th>
                    <th translate="membershipApp.adresse.telephone">Telephone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adresse in adresses">
                    <td><a ui-sref="adresseDetail({id:adresse.id})">{{adresse.id}}</a></td>
                    <td>{{adresse.adresse1}}</td>
                    <td>{{adresse.adresse2}}</td>
                    <td>{{adresse.codePostal}}</td>
                    <td>{{adresse.ville}}</td>
                    <td>{{adresse.email}}</td>
                    <td>{{adresse.telephone}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adresseDetail({id:adresse.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(adresse.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(adresse.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
