<div>

    <h2 data-translate="membershipApp.coordonnees.home.title">Coordonnees</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveCoordonneesModal" data-ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span data-translate="membershipApp.coordonnees.home.createLabel">Create a new Coordonnees</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveCoordonneesModal" tabindex="-1" role="dialog" aria-labelledby="myCoordonneesLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" class="form-horizontal" role="form" novalidate data-ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCoordonneesLabel" data-translate="membershipApp.coordonnees.home.createOrEditLabel">Create or edit a Coordonnees</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">ID</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="id" data-ng-model="coordonnees.id" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.adresse1">Adresse1</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="adresse1" data-ng-model="coordonnees.adresse1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.adresse2">Adresse2</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="adresse2" data-ng-model="coordonnees.adresse2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.codePostal">CodePostal</label>
                            <div class="col-sm-3">
                            	<input type="text" class="form-control" name="codePostal" data-ng-model="coordonnees.codePostal">
                            </div>
                            
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.ville">Ville</label>
                            <div class="col-sm-5">
                            	<input type="text" class="form-control" name="ville" data-ng-model="coordonnees.ville">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.email">Email</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="email" data-ng-model="coordonnees.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" data-translate="membershipApp.coordonnees.telephone">Telephone</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="telephone" data-ng-model="coordonnees.telephone">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" data-ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCoordonneesConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" data-ng-submit="confirmDelete(coordonnees.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title" data-translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p data-translate="membershipApp.coordonnees.delete.question" data-translate-values="{id: '{{coordonnees.id}}'}">Are you sure you want to delete this Coordonnees?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" data-ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th data-translate="membershipApp.coordonnees.adresse1">Adresse1</th>
                    <th data-translate="membershipApp.coordonnees.adresse2">Adresse2</th>
                    <th data-translate="membershipApp.coordonnees.codePostal">CodePostal</th>
                    <th data-translate="membershipApp.coordonnees.ville">Ville</th>
                    <th data-translate="membershipApp.coordonnees.email">Email</th>
                    <th data-translate="membershipApp.coordonnees.telephone">Telephone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="coordonnees in coordonneess">
                    <td><a data-ui-sref="coordonneesDetail({id:coordonnees.id})">{{coordonnees.id}}</a></td>
                    <td>{{coordonnees.adresse1}}</td>
                    <td>{{coordonnees.adresse2}}</td>
                    <td>{{coordonnees.codePostal}}</td>
                    <td>{{coordonnees.ville}}</td>
                    <td>{{coordonnees.email}}</td>
                    <td>{{coordonnees.telephone}}</td>
                    <td>
                        <button type="submit" data-ui-sref="coordonneesDetail({id:coordonnees.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span data-translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit" data-ng-click="update(coordonnees.id)" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span data-translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" data-ng-click="delete(coordonnees.id)" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
