<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 data-translate="register.title">Registration</h1>

            <div class="alert alert-success" data-ng-show="success" data-translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" data-ng-show="error" data-translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" data-ng-show="errorUserExists" data-translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" data-ng-show="errorEmailExists" data-translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" data-ng-show="doNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form data-ng-show="!success" name="form" role="form" novalidate data-ng-submit="register()" data-show-validation>

                <div class="form-group">
                    <label data-translate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                           data-ng-model="registerAccount.login" data-ng-minlength=1 data-ng-maxlength=50 data-ng-pattern="/^[a-z0-9]*$/" required>
                    <div data-ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block" data-ng-show="form.login.$error.required" data-translate="register.messages.validate.login.required">
                            Your login is required.
                        </p>
                        <p class="help-block" data-ng-show="form.login.$error.minlength" data-translate="register.messages.validate.login.minlength">
                            Your login is required to be at least 1 character.
                        </p>
                        <p class="help-block" data-ng-show="form.login.$error.maxlength" data-translate="register.messages.validate.login.maxlength">
                            Your login cannot be longer than 50 characters.
                        </p>
                        <p class="help-block" data-ng-show="form.login.$error.pattern" data-translate="register.messages.validate.login.pattern">
                            Your login can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label data-translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           data-ng-model="registerAccount.email" data-ng-minlength=5 data-ng-maxlength=100 required>
                    <div data-ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block" data-ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block" data-ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block" data-ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block" data-ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label data-translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           data-ng-model="registerAccount.password" data-ng-minlength=5 data-ng-maxlength=50 required>
                    <div data-ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block" data-ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block" data-ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block" data-ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label data-translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           data-ng-model="confirmPassword" data-ng-minlength=5 data-ng-maxlength=50 required>
                    <div data-ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block" data-ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block" data-ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block" data-ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-primary" data-translate="register.form.button">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning" data-translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>
        </div>
    </div>
</div>
